body {
 margin:0;
 /*background: #454d55;*/
}

nav {
  width:50vw;
  margin:auto;
}

form {
  display:flex;
}

.formsection label, .formsection input {
  display:block;
} 

.red-delete {
  color:tomato;
  font-weight:900;
  
}